Temp/UnityLockfile
Temp/workerlic
/.vs/NekoMayhem/FileContentIndex/2137e7dd-2bf9-4b26-9704-470cfebb18b9.vsidx
/.vs/NekoMayhem/FileContentIndex/47c4c60a-bd34-4bbd-80ea-f8dfb4f6f46f.vsidx
/.vs/NekoMayhem/FileContentIndex/ad582f1e-1d88-413d-92c3-1402f240209c.vsidx
/.vs/NekoMayhem/FileContentIndex/cf90c4d4-13fa-4a4f-88fc-9a6cd9d47ad4.vsidx
/.vs/NekoMayhem/FileContentIndex
/.vs/NekoMayhem/v17
/.vs
/obj/Release
